.container {
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 720px) {
    width: 100%;
  }

  width: 50%;
  margin: 0 auto;
}

.ukrainian {
  margin-top: 0;
  margin-bottom: 3rem;
  text-align: center;
}

h3.translation {
  padding: 1rem;
  border-bottom: 2px solid black;
  text-align: center;
}

section.translation {
  margin: 0 auto;
}

.bold {
  font-weight: 700;
}
