.flag {
  @media screen and (max-width: 720px) {
    display: none;
  }
  position: fixed;
  z-index: -1;
  filter: blur(20px);
  transform: scale(1.2);
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}
